@page "/gestionerichieste"
@using Bopo.Data
@inject Database database
@attribute [Authorize(Roles = "Amministratore")]

<MenuAdmin></MenuAdmin>

<div class=" col-xl-4 offset-lg-3 offset-xl-4">
<RadzenCard Style="border-radius:1.4rem;">
                <div class="d-flex flex-row">
                    <RadzenImage Path="/images/bopo.svg" Style="width: 150px; height: 150px;" />
                    <h1 style="align-self:safe center;margin-left: 40px;font-size:50px">Gestione Richieste</h1>
                </div>
</RadzenCard>
</div>

<div class="container">
    <div class="row py-5">
        <div class="col">
            <RadzenCard Style="border-radius:1.2rem;">

                <RadzenDataList WrapItems="true" AllowPaging="true" Data="@database.getListaRichiesteUtente()" TItem="RichiestaUtente" PageSize="3" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                    <Template Context="richiesta">
                        <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;border-radius:1.2rem;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 p-3 group-name">
                                    <b>Amministratore del gruppo: @(richiesta.username)</b>
                                    </div>
                                    <div class="col-lg-7 p-4">
                                        <h5 class="mb-0">Data di Richiesta:</h5>
                                    <p class="mb-sm-4 mb-lg-0"> <b>@(richiesta.dateTime)</b></p>
                                    </div>
                                    <div class="col-lg-2 p-4">
                                        <RadzenButton Icon="check_circle" ButtonStyle="ButtonStyle.Success" Click="@((args) => { accept(richiesta); })"/>
                                        <RadzenButton Icon="report" ButtonStyle="ButtonStyle.Danger" Click="@((args) => { decline(richiesta); })"/>
                                    </div>
                                </div>
                            </div>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>

            </RadzenCard>
        </div>
    </div>
</div>


@code{    

   public void accept(RichiestaUtente r)
    {
    Console.WriteLine("Richiesta Accettata: "+ r.ToString());
    database.deleteUserRequest(r);
    database.insertUser(new User(r.username,r.password));
    }

   public void decline(RichiestaUtente r)
    {
    Console.WriteLine("Richiesta Rifiutata: "+ r.ToString());
    database.deleteUserRequest(r);
    }

}