@page "/gestionerichieste"
@using Bopo.Data
@inject Database database
@attribute [Authorize(Roles = "Amministratore")]

<MenuAdmin></MenuAdmin>

<div class=" col-xl-4 offset-lg-3 offset-xl-4">
    <RadzenCard Style="border-radius:1.4rem;">
        <div class="d-flex flex-row">
            <RadzenImage Path="/images/bopo.svg" Style="width: 150px; height: 150px;" />
            <h1 style="align-self:safe center;margin-left: 40px;font-size:50px">Gestione Richieste</h1>
        </div>
    </RadzenCard>
</div>


<div class="row my-5">
    <div class="col-md-6">


        <div class="container">

            <RadzenCard Style="border-radius:1.2rem;">
                <h1 class="mb-4" style="align-self:center;color:#a6c711;">Richieste Utenti</h1>
                <RadzenDataList WrapItems="true" AllowPaging="true" Data="@database.getListaRichiesteUtente()"
                    TItem="RichiestaUtente" PageSize="3" PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true">
                    <Template Context="richiestautente">
                        <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;border-radius:1.2rem;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-3 p-3 group-name">
                                        <b>Utente: <p style="color:#a6c711;">@(richiestautente.username)</p></b>
                                    </div>
                                    <div class="col-lg-7 p-3 group-name">
                                        <b>Data di Richiesta: <p style="color:#a6c711;">@(richiestautente.dateTime)</p></b>
                                    </div>
                                    <div class="col-lg-2 p-4">
                                        <RadzenButton Icon="check_circle" ButtonStyle="ButtonStyle.Success"
                                            Click="@((args) => { acceptuser(richiestautente); })" />
                                        <RadzenButton Icon="report" ButtonStyle="ButtonStyle.Danger"
                                            Click="@((args) => { declineuser(richiestautente); })" />
                                    </div>
                                </div>
                            </div>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>

            </RadzenCard>
        </div>
    </div>

    <div class="col-md-6">

        <div class="container">

            <RadzenCard Style="border-radius:1.2rem;">
                <h1 class="mb-4" style="align-self:center;color:#53a2c5">Richieste Gruppi</h1>
                <RadzenDataList WrapItems="true" AllowPaging="true" Data="@database.getListaRichiesteGruppo()"
                    TItem="RichiestaGruppo" PageSize="3" PagerHorizontalAlign="HorizontalAlign.Left"
                    ShowPagingSummary="true">
                    <Template Context="richiestagruppo">
                        <RadzenCard Style="width: 100%; padding: 0; overflow: hidden;border-radius:1.2rem;">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 p-3 group-name">
                                        <b>Amministratore del gruppo <p style="color:#53a2c5">
                                                @(richiestagruppo.usernameAdmin)</p></b>
                                    </div>
                                    <div class="col-lg-3 p-3 group-name">
                                        <b>Nome del gruppo <p style="color:#53a2c5">
                                                @(richiestagruppo.nome)</p></b>
                                    </div>
                                    <div class="col-lg-3 p-3 group-name">
                                        <b>Posti Disponibili <p style="color:#53a2c5">
                                                @(richiestagruppo.maxPartecipanti)</p></b>
                                    </div>
                                    <div class="col-lg-10 p-3 group-name">
                                        <b>Data di Richiesta <p style="color:#53a2c5">
                                                @(richiestagruppo.dateTime)</p></b>
                                    </div>
                                    <div class="col-lg-2 p-4">
                                        <RadzenButton Icon="check_circle" ButtonStyle="ButtonStyle.Success"
                                            Click="@((args) => { acceptgroup(richiestagruppo); })" />
                                        <RadzenButton Icon="report" ButtonStyle="ButtonStyle.Danger"
                                            Click="@((args) => { declinegroup(richiestagruppo); })" />
                                    </div>
                                </div>
                            </div>
                        </RadzenCard>
                    </Template>
                </RadzenDataList>

            </RadzenCard>
        </div>
    </div>
</div>




@code {

    public void acceptuser(RichiestaUtente r)
    {
        Console.WriteLine("Richiesta Utente Accettata: " + r.ToString());
        database.deleteUserRequest(r);
        database.insertUser(new User(r.username, r.password));
    }

    public void declineuser(RichiestaUtente r)
    {
        Console.WriteLine("Richiesta Utente Rifiutata: " + r.ToString());
        database.deleteUserRequest(r);
    }

    public void acceptgroup(RichiestaGruppo r)
    {
        Console.WriteLine("Richiesta Gruppo Accettata: " + r.ToString());
        database.deleteGroupRequest(r);
        Gruppo g = new Gruppo(r.usernameAdmin, r.nome, r.password, r.maxPartecipanti, DateTime.Now);
        database.getUserByUsername(r.usernameAdmin).getListaGruppiUtente().Add(g);
        database.insertGroup(g);
    }
    public void declinegroup(RichiestaGruppo r)
    {
        Console.WriteLine("Richiesta Gruppo Rifiutata: " + r.ToString());
        database.deleteGroupRequest(r);
    }
}